body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  
p {
  color:yellow;
}

h2 {
  color: beige;
}

form {
  background-color: #8B0000;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: Balck;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}



.nav-link {
  font-size: 2em;
  color: white;
  border-color: black;
  border-radius: 40px;
  margin-right: 20px;

  
}

.nav-link:hover {
  color: yellow;
}

a {
 color: bisque ;
}

.search-box {
  margin: 20px 0;
}

.review-heading {
  font-size: 1.5em;
  font-weight: bold;
}